/* Para PCs e telas maiores que 600px */
.desktop{
    display: block;
}
.mobile{
    display: none;
}

/* Reset Basico */
html, body{
    margin: 0;
    padding: 0;
}

button{
    outline: none;
    border-width: 0;
}

/* Parte superior/MENU */
header{
    background: linear-gradient(to bottom, rgba(0,0,0,0.5) , rgba(0,0,0,0.3), rgba(0,0,0,0.1));
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 5;
    -webkit-transition: all 0.3s ease;
    transition:  all 0.3s ease;
}

.menuScrolled{
    background: white;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.24);
}

.desk-menu-button-scrolled{
    color: black;
}

.desk-logo{
    max-height: 3.2vw;
    height: 8vh;
    float: left;
    padding: 0 1vw;
}

.desk-menu-ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    width: 78vw;
}

.desk-menu-div{
    display: flex;
    align-items: center;
}

.desk-menu-button{
    margin: 0 0.9vw;
    background-color: transparent;
    border-width: 0;
    color: white;
    font-family: "LATO", sans-serif;
    font-weight: bold;
    font-size: 11px;
    cursor: pointer;
    padding: 0 2.5px 3px 2.5px;
    -webkit-transition: all 0.3s ease;
    transition:  all 0.3s ease;
}

.desk-menu-button-scrolled{
    color: #1f2024;
}

.desk-menu-button:active{
    color: white;
    border-width: 0 0 1px;
    border-color: white;
}

.desk-menu-button-scrolled:active{
    color: #000000;
    border-width: 0 0 1px;
    border-color: #000000;
}

.desk-menu-button-activated{
    color: white;
    border-width: 0 0 2px;
    border-color: #2171a9;
}

.desk-menu-button:hover{
    color: rgb(200,200,200);
}

.desk-menu-button-scrolled:hover{
    color: rgb(120,120,120);
}

.desk-menu-diagnostico{
    margin: 0.9vw 1.2vw 0.9vw 0;
    background-color: #2171a9b5;
    font-family: "LATO", sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9vw;
    border-width: 0;
    cursor: pointer;
    -webkit-transition: all 0.4s ease;
    transition:  all 0.4s ease;
    width: 10vw;
    height: 2.5vw;
}

.desk-menu-diagnostico:hover{
    background-color: #2171a9;
}

.desk-menu-diagnostico-image{
    max-height: 54%;
    max-width: 16%;
    margin-right: 7px;
}

/* Slider */

.slider{
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.slide{
    width: 100%;
    height: 100vh;
    background-size: 120vw;
    margin: 0;
    padding: 0;
    position: fixed;
    filter: blur(3px);
}

.slide-box{
    position: absolute;
    left: 50%;
    width: 100%;
    background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.4) , rgba(0,0,0,0.7));
    bottom: 0;
    transform: translateX(-50%);
}

.slide-box-title{
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 5vh;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.1;
    font-weigth: normal;
    margin-left: -5px;
    padding-left: 0;
    margin-bottom: 0;
    padding-bottom: 0;

}

.slide-box-subtitle{
    color: white;
    font-family: "Arial", sans-serif;
    font-weight: normal;
    text-align: center;
    margin: 45px;
    margin-top: 25px;
}

.slide1{
    background-image: url(../imagens/slide1.png);
}

.slide2{
    background-image: url(../imagens/slide2.png);
}


/* Solucoes contabeis */

.solucoes-section{
    background-color: white;
    float: left;
    width: 100%;
    position: relative;
    padding-top: 0x;
    margin: 0px;
    font-family: "Lato";
}

.solucoes-servicos{
    display: flex;
    padding: 2vw;
    padding-top: 0px;
}

.solucoes-title{
    padding: 0 2vw;
}

.solucoes-servico{
    padding: 0px 1vw;
    cursor: pointer;
}

.solucoes-servico-image{
    width: 100%;
}

.solucoes-servico:hover{
    background-color: #c3c3c3;
}

/* Processo Seletivo */
.processoseletivo-section{
    background-color: #1e72ab;
    float: left;
    width: 100%;
    position: relative;
    padding-top: 0x;
    margin: 0px;
    font-family: "Lato";
    color: white;
}

.processoseletivo-title{
    align-items: center;
    justify-content: left;
    display: flex;
    padding: 0;
    margin: 15px 2vw;
}

.processoseletivo-div{
    padding: 15px 2vw;
}

.processoseletivo-image{
    height: 19px;
    padding: 0 10px 0 0;
    margin: 0 10px 0 0;
    border-style: solid;
    border-color: #5c91b5;
    border-width: 0px 1px 0px 0px;
}

.processoseletivo-description{
    margin: 0;
    padding: 0;
}

.processoseletivo-button{
    margin-top: 15px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    color: white;
    border-style: double;
    border-width: 3px;
    text-transform: uppercase;
    font-family: "LATO";
    font-weight: bold;
    font-size: 2.5vh;
    padding: 5px 12px;
    cursor: pointer;
    -webkit-transition: all 0.4s ease;
    transition:  all 0.4s ease;
}

.processoseletivo-button:hover{
    background-color: white;
    color: #1e72ab;
    border-color: #1e72ab;
}

/* Sesssao Blog */

.blog-section{
    float: left;
    width: 100%;
    position: relative;
    padding-top: 0x;
    margin: 0px;
    font-family: "Lato";
}

.blog-articles{
    display: flex;
    padding-top: 0px;
    flex-wrap: wrap;
    justify-content: center;
}

.blog-title{
    align-items: center;
    justify-content: left;
    display: flex;
    padding: 0;
    margin: 15px 2vw;
    color: white;
}

.blog-image{
    height: 19px;
    padding: 0 10px 0 0;
    margin: 0 10px 0 0;
    border-style: solid;
    border-color: #97999a;
    border-width: 0px 1px 0px 0px;
}

.blog-article{
    width: 28.8vw;
    background-color: rgba(255,255,255,0.35);
    box-shadow: 0px 0px 6px rgba(255,255,255,0.30);
    margin: 0.3vw;
    cursor: pointer;
    -webkit-transition: all 0.2s linear;
    transition:  all 0.2s linear;
    padding: 5px 1.2vw;
}

.blog-article:hover{
    padding: 10px 1.5vw;
}

.blog-article-image{
    width: 50%;
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
}

.blog-article-description{
    margin: 0;
    font-size: 15px;
    font-weight: normal;
}

.blog-article-title{
    padding: 3px;
    margin: 0;
    text-align: left;
    margin-bottom: 10px;
    padding: 1px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-radius: 3px 3px 0 0;
    color: black;
    font-size: 1.1vw;
    font-family: "Calibri";
    font-weight: bold;
    text-transform: uppercase;
}

.blog-article-aside{
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 25px;
}

.blog-aside-element{
    width: 33.333%;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
    height: 25px;
}

/* Para Smartphones e telas menores que 600px */
@media all and (max-width: 1050px){
    .mobile{
        display: block !important;
    }
    .desktop{
        display: none !important;
    }

    .desk-logo{
        max-height: inherit;
        height: inherit;
        padding: 0vw;
        margin: 3vw;
        width: 23vw;
    }
    .desk-menu-diagnostico{
        width: inherit;
        margin: 0 2vw;
        transform: translateY(-2px);
        padding: 1.7vw;
        height: inherit;
        font-size: 2.7vw;
    }
    .desk-menu-diagnostico-image{
        margin: 0;
        padding: 0;
        max-height: 3.4vw;
        max-width: inherit;
        margin-right: 10px;
    }

    .slider{
        position: relative;
        z-index: 0;
        max-height: inherit;
        width: 100%;
        margin: 0;
        padding: 0;
        transform: inherit;
    }

    .slide{
        min-width: 100%;
        min-height: 100%;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        -webkit-transition: all 0.4s ease;
        transition:  all 0.4s ease;
    }

    .slide1{
        background-image: url(../imagens/slide1-mobile.jpg);
    }
}

@media all and (max-width: 600px){
    .slide{
        background-size: 100vh;
    }
}