/* Para PCs e telas maiores que 600px */
.desktop{
    display: block;
}
.mobile{
    display: none;
}

/* Reset Basico */
html, body{
    margin: 0;
    padding: 0;
}

button{
    outline: none;
    border-width: 0;
}

/* Parte superior/MENU */
header{
    background: linear-gradient(to bottom, rgba(0,0,0,0.5) , rgba(0,0,0,0.3), rgba(0,0,0,0.1));
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 5;
    -webkit-transition: all 0.3s ease;
    transition:  all 0.3s ease;
}

.menuScrolled{
    background: white;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.24);
}

.desk-menu-button-scrolled{
    color: black;
}

.desk-logo{
    max-height: 3.2vw;
    margin-right: 17vw;
    height: 8vh;
    float: left;
}

.desk-menu-ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}
.desk-logo-a{
    width: 20%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.desk-menu-div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.desk-menu-button{
    margin: 0 0.9vw;
    background-color: transparent;
    border-width: 0;
    color: white;
    font-family: "LATO", sans-serif;
    font-weight: bold;
    font-size: 11px;
    cursor: pointer;
    padding: 0 2.5px 3px 2.5px;
    -webkit-transition: all 0.3s ease;
    transition:  all 0.3s ease;
}

.desk-menu-button-scrolled{
    color: #1f2024;
}

.desk-menu-button:active{
    color: white;
    border-width: 0 0 1px;
    border-color: white;
}

.desk-menu-button-scrolled:active{
    color: #000000;
    border-width: 0 0 1px;
    border-color: #000000;
}

.desk-menu-button-activated{
    color: white;
    border-width: 0 0 2px;
    border-color: #2171a9;
}

.desk-menu-button:hover{
    color: rgb(200,200,200);
}

.desk-menu-button-scrolled:hover{
    color: rgb(120,120,120);
}

.desk-menu-diagnostico{
    margin: 0.9vw;
    margin-left: 17vw;
    background-color: #2171a9b5;
    font-family: "LATO", sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9vw;
    border-width: 0;
    cursor: pointer;
    -webkit-transition: all 0.4s ease;
    transition:  all 0.4s ease;
    width: 10vw;
    height: 2.5vw;
}

.desk-menu-diagnostico:hover{
    background-color: #2171a9;
}

.desk-menu-diagnostico-image{
    max-height: 54%;
    max-width: 16%;
    margin-right: 7px;
}

/* Slider */

.slider{
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.slide{
    width: 100%;
    height: 100vh;
    background-size: 120vw;
    margin: 0;
    padding: 0;
    position: fixed;

}

.slide-box{
    position: absolute;
    left: 50%;
    width: 100%;
    background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.4) , rgba(0,0,0,0.7));
    bottom: 0;
    transform: translateX(-50%);
}

.slide-box-title{
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 5vh;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.1;
    font-weigth: normal;
    margin-left: -5px;
    padding-left: 0;
    margin-bottom: 0;
    padding-bottom: 0;

}

.slide-box-subtitle{
    color: white;
    font-family: "Arial", sans-serif;
    font-weight: normal;
    text-align: center;
    margin: 45px;
    margin-top: 25px;
}

.slide1{
    background-image: url(../imagens/slide1.png);
}

.slide2{
    background-image: url(../imagens/slide2.png);
}


/* Solucoes contabeis */

.solucoes-section{
    background-color: white;
    float: left;
    width: 100%;
    position: relative;
    padding-top: 0x;
    margin: 0px;
    font-family: "Lato";
}

.solucoes-servicos{
    display: flex;
    padding: 5vw;
    padding-top: 0px;
}

.solucoes-title{
    padding: 0 5vw;
}

.solucoes-servico{
    padding: 0 1vw;
    margin-left: -1vw;
    cursor: pointer;
}

.solucoes-servico{

}

.solucoes-servico-image{
    width: 100%;
    -webkit-transition: all 0.2s ease;
    transition:  all 0.2s ease;
}


.solucoes-servico::after{
    background: transparent;
    width: 95%;
    left: 50%;
    transform: translate(-50%, 500%);
    height: 2px;
    content: "";
    display: block;
    position: relative;
    -webkit-transition: all 0.2s ease-in-out;
    transition:  all 0.2s ease-in-out;
}
.solucoes-servico:hover::after{
    background: #474747;
    transform: translate(-50%, 0%);
}

.solucoes-servico-description{
    text-align: justify;
    text-justify: inter-word;
    -webkit-transition: all 0.3s ease;
    transition:  all 0.3s ease;
}

/* Processo Seletivo */
.processoseletivo-section{
    background-color: #1e72ab;
    float: left;
    width: 100%;
    position: relative;
    padding-top: 0x;
    margin: 0px;
    font-family: "Lato";
    color: white;
}

.processoseletivo-title{
    align-items: center;
    justify-content: left;
    display: flex;
    padding: 0;
    margin: 15px 5vw;
}

.processoseletivo-div{
    padding: 15px 5vw;
}

.processoseletivo-image{
    height: 19px;
    padding: 0 10px 0 0;
    margin: 0 10px 0 0;
    border-style: solid;
    border-color: #5c91b5;
    border-width: 0px 1px 0px 0px;
}

.processoseletivo-description{
    margin: 0;
    padding: 0;
    text-align: justify;
    text-justify: inter-word;
}

.processoseletivo-button{
    margin-top: 15px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    color: white;
    border-style: double;
    border-width: 3px;
    text-transform: uppercase;
    font-family: "LATO";
    font-weight: bold;
    font-size: 2.5vh;
    padding: 5px 12px;
    cursor: pointer;
    -webkit-transition: all 0.4s ease;
    transition:  all 0.4s ease;
}

.processoseletivo-button:hover{
    background-color: white;
    color: #1e72ab;
    border-color: #1e72ab;
}

/* Sesssao Blog */

.blog-section{
    float: left;
    width: 100%;
    position: relative;
    padding-top: 0x;
    margin: 0px;
    font-family: "Lato";
    background: #ffffff6e;
}

.blog-articles{
    display: flex;
    padding-top: 0px;
    flex-wrap: wrap;
    justify-content: center;
}

.blog-title{
    align-items: center;
    justify-content: left;
    display: flex;
    padding: 0;
    margin: 15px 5vw;
    color: white;
}

.blog-image{
    height: 19px;
    padding: 0 10px 0 0;
    margin: 0 10px 0 0;
    border-style: solid;
    border-color: #97999a;
    border-width: 0px 1px 0px 0px;
}

.blog-article{
    width: 28vw;
    margin: 4.5vh 0.6vw;
    cursor: pointer;
    -webkit-transition: all 0.2s linear;
    transition:  all 0.2s linear;
    background-color: transparent;
    padding: 5px;
}

.blog-article:hover .blog-article-image{
    background-size: 110%;
}

.blog-article-image{
    width: 100%;
    height: 32%;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    -webkit-transition: all 0.2s ease;
    transition:  all 0.2s ease;
}

.blog-article-title{
    margin: 0;
    font-size: 1.3vw;
    font-weight: normal;
    color: #2e3035;
    text-justify: inter-word;
    font-family: "Calibri", sans-serif;
    margin-top: 5px;
    padding: 0 2px;
    margin-bottom: 5px;
    text-align: left;

}

.blog-article-aside{
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.blog-aside-element{
    width: 100%;
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
}

.blog-aside-views, .blog-aside-comments{
    width: 48%;
    padding: 0;
    margin: 0;
    font-size: 0.7vw;
    float: left;
    padding: 0 0.7%;
    color: #5f5f5f;
}

.blog-aside-comments{
    text-align: right;
}

/* Para Smartphones e telas menores que 600px */
@media all and (max-width: 1050px){
    .mobile{
        display: block !important;
    }
    .desktop{
        display: none !important;
    }

    /* Parte Superior */

    .desk-logo{
        max-height: inherit;
        height: inherit;
        padding: 0vw;
        width: 23vw;
        float: left;
        margin-left: 5vw;
    }
    .desk-menu-div{
        display: inherit;
        align-items: inherit;
        justify-content: inherit;
    }
    .desk-menu-diagnostico{
        width: inherit;
        margin: 0 2vw;
        transform: translateY(-60%);
        padding: 1.7vw;
        height: inherit;
        font-size: 2.7vw;
        float: right;
        margin-right: 5vw;
        position: relative;
    }
    .desk-menu-diagnostico-image{
        margin: 0;
        padding: 0;
        max-height: 3.4vw;
        max-width: inherit;
        margin-right: 10px;
    }

    /* Slides */

    .slider{
        position: relative;
        z-index: 0;
        max-height: inherit;
        width: 100%;
        margin: 0;
        padding: 0;
        transform: inherit;
    }

    .slide{
        min-width: 100%;
        min-height: 100%;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
    }

    .slide1{
        background-image: url(../imagens/slide1-mobile.jpg);
    }
    .slide2{
        background-image: url(../imagens/slide2-mobile.png);
    }

    /* Soluções */
    .solucoes-servico{
        width: 100vw;
    }

    .solucoes-servicos{
        flex-wrap: wrap;
    }

}

@media all and (max-width: 600px){
    .slide{
        background-size: 100vh;
    }
}